* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
}

.main-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    padding: 20px;
    align-items: center;
    background-color: #8c8c8c;
    color: #f5f5f5;
    min-height: 100vh;
    box-sizing: border-box;
}

.encabezado {
    grid-column: 1 / -1;
    text-align: center;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px 0;
}

/* Logo de sur maderas */
.logo {
    max-width: 70px;
    height: auto;
    margin-top: -10px;
    margin-bottom: 20px;
    
}

.imagen {
    display: flex;
    justify-content: center;
}

/* foto de muebles */
.fotoVari {
    width: 60%;
    max-width: 400%;
    height: auto;
    border: 8px solid #f5f5f5;
    border-radius: 6px;
    box-sizing: border-box;
}

.contenido {
    display: grid;
    grid-template-rows: auto 1fr auto;
    height: 100%;
    padding: 20px;
    gap: 20px;
    text-align: center;
    margin-right: 80px;
}

.title h4 {
    letter-spacing: 4px;
    margin: 0;
    
}

.title h1 {
    margin: 0;
    margin-bottom: 150px;
}

.footer.dos {
    margin-top: 20px;
}

/* Responsive */
@media (max-width: 768px) {

    .main-grid {
        grid-template-columns: 1fr;
        padding: 20px;
    }

    .encabezado {
        order: 1;
        justify-content: center;
    }

    .imagen {
        order: 1;
    }

    .contenido {
        order: 2;
        margin-right: 5px;
        margin: 0;
    
    }

    .fotoVari {
        max-width: 100%;
    }

    .title .varillado {
        font-size: 15px;
        margin-bottom: -100px;
    }
}
